@import "../variabili.scss";

#footer {
  background: $primaryColor;
  ul {
    margin: 0;
    padding: 10vh;
    p {
      color: #fff;
      font-weight: bold;
      font-size: 1.4rem;
      border-bottom: 2px dotted $fourthColor;
    }
    li {
      color: #fff;
      list-style: none;
      transition: 0.6s;
      a {
        text-decoration: none;
        color: unset;
        &:hover {
          color: $fourthColor;
        }
      }
      .icon {
        color: #fff;
        margin-right: 20px;
        transition: 0.6s;
        &:hover {
          color: $fourthColor;
        }
      }
    }
  }
  .footer_footer {
    background: $fourthColor;
    color: #fff;
    display: flex;
    justify-content: center;
    p {
      margin: 0;
      a {
        text-decoration: none;
        color: unset;
      }
    }
  }
}

@media (max-width: 686px) {
  #footer {
    ul {
      padding: 5vw;
      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 575.2px) {
  #footer {
    ul {
      li {
        margin-left: 25vw;
      }
    }
  }
}
